@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}
.miestilo {
  /* colocar al costado del H1, ver tipografía*/
  color: black;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding: 40px 20px 0px 20px;
}

miestilo :hover {
  border-bottom: #f5df4e;
  /*colocar el border-bottom en el hover */
}

/* background color amarillo es #f5df4e */

.miestilo1 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.miestilo2 {
  padding: 10px;
  justify-content: center;
  color: grey;
}

.miestilo3 {
  padding: 10px 20px 0px 20px;
}

.main1 {
  display: flex;
  background-color: #f5df4e;
  width: 100%;
  height: 600px;
  justify-content: space-evenly;
}

.main2 {
  border-radius: 50%;
  border: 5px;
  border-color: white;
  box-shadow: 50px;
}

.miestilo4 {
  align-items: center;
}
.boton1 {
  color: white;
  background-color: black;
}

.boton2 {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.miestilo5 {
}

.estilo33 {
  height: 200px;
  align-items: center;
  margin: 0 auto;
}
.estilo31 {
  background-color: #f5df4e;
  width: 120px;
  margin: 0 auto;
}
.estilo32 {
  width: 250px;
  margin: 0 auto;
}

.estilo35 {
  width: 800px;
}

.estilo36 {
  display: flex;
}

.estilo37 {
  font-size: 80px;
  font-weight: bold;
}

.estilo38 {
  width: 400px;
  margin: 0 auto;
}

.estilo39 {
  color: grey;
  align-items: center;
}

.estilo40 {
  display: flex;
}

.estilo41 {
  width: 400px;
  height: 200px;
  align-items: center;
}

.estilo42 {
  width: 250px;
  background-color: #f5df4e;
  margin: 0 auto;
}

.estilo43 {
  width: 800px;
  margin: 0 auto;
}

.estilo44 {
  width: 400px;
  height: 300px;
}

.estilo45 {
  display: flex;
  width: 80%;
  background-color: aqua;
}

.estilo46 {
  color: #f5df4e;
  font-size: 60px;
}

.estilo47 {
  justify-content: center;
}

.estilo49 {
  display: flex;
}
.estilo50 {
  width: 600px;
}

.estilo51 {
  height: 60px;
  align-items: center;
}

.estilo55 {
  display: flex;
}
