@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}
/* Comienza el header */

.miestilo {
  color: #212529;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 40px 20px 0px 20px;
}

miestilo :hover {
  border-bottom: #f5df4e;
}

.miestilo1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 80%;
}

.miestilo2 {
  padding: 10px;
  justify-content: center;
  color: grey;
}

.miestilo3 {
  padding: 10px 20px 0px 20px;
}

/* Comienza el main */

.main1 {
  display: flex;
  background-color: #f5df4e;
  width: 100%;
  height: 600px;
  justify-content: space-evenly;
}

.main2 {
  border-radius: 50%;
  border: 5px;
  border-color: white;
  box-shadow: 50px;
}

.miestilo4 {
  align-items: center;
  padding: 8px;
  font-size: 48px;
  color: #212529;
}

.estilo05 {
  align-items: center;
  padding: 8px;
  font-size: 104px;
  color: #212529;
}

.estilo06 {
  align-items: center;
  padding: 8px;
  font-size: 21px;
  color: #212529;
}
.boton1 {
  color: white;
  background-color: #212529;
  border-color: #212529;
  border-radius: 0%;
  padding: 10px 25px 10px 25px;
}

.boton2 {
  color: #212529;
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.miestilo5 {
}
/* Comienza section Conóceme más */
.estilo33 {
  align-items: center;
  height: 100px;
}
.estilo31 {
  background-color: #f5df4e;
  width: 120px;
  margin: 0 auto;
  text-align: center;
}
.estilo32 {
  text-align: center;
  font-size: 40px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}

.estilo35 {
  width: 800px;
}

.estilo35b {
  font-size: 32px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}

.estilo35c {
  font-style: bold;
}

.estilo35d {
  padding: 10px 25px 10px 25px;
  color: #212529;
}

.estilo36 {
  display: flex;
}

.estilo37 {
  font-size: 144px;
  font-weight: bold;
  text-align: center;
  color: rgb(80, 78, 78);
}

.estilo37b {
  font-size: 28px;
}

.estilo38 {
  width: 400px;
  margin: 0 auto;
}

.estilo39 {
  color: grey;
  text-align: left;
}

.estilo40 {
  display: flex;
  text-align: left;
}

.estilo41 {
  width: 400px;
  height: 200px;
  align-items: left;
}

/* Comienza section En lo que puedo ayudarte.. */

.estilo42 {
  width: 150px;
  background-color: #f5df4e;
  margin: 0 auto;
  text-align: center;
}

.estilo43 {
  font-size: 40px;
  padding: 10px 25px 10px 25px;
  color: #212529;
  text-align: center;
}

.estilo44 {
  width: 400px;
  height: 300px;
  justify-content: center;
}

.estilo45 {
  display: flex;
  width: 80%;
}

.estilo46 {
  color: #f5df4e;
  font-size: 60px;
  text-align: center;
}

.estilo46b {
  text-align: center;
  font-size: 24px;
}

.estilo47 {
  justify-content: center;
}

/* Comienza section Resumen de mi CV */

.estilo49 {
  display: flex;
}
.estilo50 {
  width: 600px;
}

.estilo51 {
  height: 60px;
  align-items: center;
}

.estilo52 {
  background-color: white;
  border-color: #212529;
  border-radius: 0px;
  padding: 10px 25px 10px 25px;
  text-align: center;
}

.estilo53 {
  text-align: center;
}

.estilo54 {
  height: 300px;
}
.estilo55 {
  display: flex;
}

/* Comienza section Portfolio */

.estilo56 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.estilo57 {
  margin-left: 10px;
  margin: 0 auto;
  text-decoration: none;
}

.estilo58 {
  display: flex;

  justify-content: center;
  width: 1200px;
}

.estilo59 {
  width: 400px;
}

/* Finaliza el main */

/* Comienza el footer */

.estilo60 {
  display: flex;
  width: 800px;
}

.estilo62 {
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}

.estilo63 {
  font-size: 21px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}
.estilo64 {
  font-size: 40px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}

.estilo65 {
  color: white;
  background-color: #212529;
  border-color: #212529;
  border-radius: 0%;
  padding: 10px 25px 10px 25px;
}

.estilo66 {
  background-color: #f5df4e;
  height: 600px;
}

.estilo67 {
  background-color: #212529;
  height: 150px;
}

.estilo68 {
  background-color: #f5df4e;
  border: none;
  border-bottom: #212529;
  border-radius: 0;
}
.estilo70 {
  font-size: 16px;
  padding: 10px 25px 10px 25px;
  color: #212529;
}

/* Finaliza el footer y el body */
